body
{
    padding: 0;
    margin: 0;
    
    color: white;

    font-size: 1.5em;
}

span
{
    font-family: Arial, Helvetica, sans-serif;
}

.fullSection
{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #444444;
    padding: 2em;
}

.contentSection
{
    padding: 2em;
    border: 5px solid #747474;
}

h1
{
    text-align: center;
    font-style: italic;
}

span h2
{
    font-weight: bold;
}

header ul
{
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: table;
    margin: 0 auto;
}

li
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    text-align: center;
}

a
{
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    font-style: normal;
    text-decoration: underline;
    color: #62c596;
    font-weight: bold;
    margin: 0 0.5em 0 0.5em;
    font-size: 0.8em;
}

a.active
{
    color: white;
    text-decoration: none;
}

hr
{
    display: block;
}

.upperSection
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.upperSection p
{
    flex-shrink: 15;
}

.upperSection img
{   
    width: 40%;
    height: 40%;
    padding: 0.2em;
    border: 2px solid #747474;
}

br
{
    display: block;
}

footer ul
{
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: table;
    margin: 0 auto;
}